<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("nodeloanbill:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("nodeloanbill:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("nodeloanbill:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.pk" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.userId" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.money" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.hkye" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.hkzt" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.descript" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.szxm" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.project" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.bankaccountkey" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.bankaccount" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.dealdate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.billstatus" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.pkBill" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem1" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem2" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem3" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem4" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem5" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem6" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem7" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem8" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem9" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem10" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem11" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem12" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem13" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem14" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem15" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem16" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem17" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem18" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem19" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.defitem20" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.ts" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.valid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.billtype" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.errormsg" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.djlxpk" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.overBudgetStatus" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.sqdpk" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.assumeOrg" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.assumeDept" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">行政组织</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.adminOrg" placeholder="行政组织"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">财务组织</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.financeOrg" placeholder="财务组织"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">币种</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.currency" placeholder="币种"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">汇率</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.exchangeRate" placeholder="汇率"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">本币金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.localMoney" placeholder="本币金额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">借款余额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.restMoney" placeholder="借款余额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">借款部门</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.loanDept" placeholder="借款部门"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">借款人员</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.loanUser" placeholder="借款人员"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">对公or对私</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.payType" placeholder="对公or对私"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">收款对象</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.reveiveType" placeholder="收款对象"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">原币余额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.ybye" placeholder="原币余额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预计余额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.yjye" placeholder="预计余额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">单据编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.billnum" placeholder="单据编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">指派人id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeLoanbill.assignid" placeholder="指派人id"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/stats/nodeloanbill.js?_${.now?long}"></script>
</body>
</html>