<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("nodeexpense:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("nodeexpense:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("nodeexpense:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.pk" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.userid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.descript" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.expenseDate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.money" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.ts" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.djlxpk" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.billstatus" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.billtypecode" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.billtypename" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.pkBill" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.dealdate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.valid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">自定义项</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.zdyhead" placeholder="自定义项"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">项目名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.zdyheadvalue" placeholder="项目名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">个人银行key</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.bankaccountkey" placeholder="个人银行key"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">个人银行账号名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.bankaccount" placeholder="个人银行账号名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">收支项目key</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.szitemkey" placeholder="收支项目key"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">收支项目value</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.szitemvalue" placeholder="收支项目value"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.requisitionkey" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.requisition" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.errormsg" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem1" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem2" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem3" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem4" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem5" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem6" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem7" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem8" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem9" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.defitem10" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">申请单pk</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.sqdpk" placeholder="申请单pk"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">费用承担单位</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.assumeOrg" placeholder="费用承担单位"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">费用承担部门</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.assumeDept" placeholder="费用承担部门"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.reductionAmount" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.reductionTime" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.overStandard" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.reimbursePerson" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.agencyStatus" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.overBudgetStatus" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.payAmount1" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.payAmount2" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">行政组织</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.adminOrg" placeholder="行政组织"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">财务组织</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.financeOrg" placeholder="财务组织"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">报销部门</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.reimburseDept" placeholder="报销部门"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">币种</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.currency" placeholder="币种"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">汇率</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.exchangeRate" placeholder="汇率"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">本币金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.localMoney" placeholder="本币金额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">支付余额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.restPayMoney" placeholder="支付余额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">经办人所属组织</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.userOrg" placeholder="经办人所属组织"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">对公or对私</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.payType" placeholder="对公or对私"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">收款对象</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.reveiveType" placeholder="收款对象"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">单据编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.billnum" placeholder="单据编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">指派人id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="nodeExpense.assignid" placeholder="指派人id"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/stats/nodeexpense.js?_${.now?long}"></script>
</body>
</html>