<!DOCTYPE html>
<html>
<head>
<title>用户列表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("usert:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("usert:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("usert:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.userid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.userName" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.password" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.description" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.birthday" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.registerdate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.location" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.company" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.email" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.phone" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.telnum" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.avatar" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.association" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">部门PK</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.deptpk" placeholder="部门PK"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">部门名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.deptname" placeholder="部门名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.userCode" placeholder="编码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.ts" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">0: 显示 1:删除</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.dr" placeholder="0: 显示 1:删除"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">岗位、职务pk</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.postpk" placeholder="岗位、职务pk"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">岗位、职务名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.postname" placeholder="岗位、职务名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">职级pk</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.rankpk" placeholder="职级pk"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">职级名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.rankname" placeholder="职级名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">部门编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.deptcode" placeholder="部门编码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">人员PK</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.personid" placeholder="人员PK"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">人员名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.personname" placeholder="人员名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">组织pk</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.orgpk" placeholder="组织pk"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">组织名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.orgname" placeholder="组织名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">财务组织PK</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.financeorgid" placeholder="财务组织PK"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">财务组织名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userT.financeorgname" placeholder="财务组织名称"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/stats/usert.js?_${.now?long}"></script>
</body>
</html>